@import url("https://api.fontshare.com/v2/css?f[]=satoshi@300,400,500,700,900&display=swap");

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-family-figtree: var(--font-figtree)
}

.heading-primary {
    font-family: var(--font-family-figtree);
    font-size: 18px;
    font-weight: 500;
}

.hero-font {
    font-family: var(--font-family-figtree);
    font-weight: 900;
    font-size: 74px;
}

.font-primary {
    font-family: var(--font-family-figtree);
    font-weight: 400;
    font-size: 24px;
}
.font-secondary {
    font-family: var(--font-family-figtree);
    font-weight: 400;
    font-size: 18px;

}
.font-heading {
    font-family: var(--font-family-figtree);
    font-weight: 600;
    font-size: 36px;  
}
.font-heading-secondary {
     font-family: var(--font-family-figtree);
    font-weight: 600;
    font-size: 20px; 
}

/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}